<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <!--   <entityFramework> -->
    <!--     <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"> -->
    <!--         <parameters> -->
    <!--             <parameter value="mssqllocaldb" /> -->
    <!--         </parameters> -->
    <!--     </defaultConnectionFactory> -->
    <!--     <providers> -->
    <!--         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> -->
    <!--     </providers> -->
    <!-- </entityFramework> -->
    <connectionStrings>
        <add name="ConnectionString" connectionString="Server=192.168.105.46; Database=dmp_brad; Trusted_Connection=True;user id=***;password=***;Integrated Security=false;"/>
    </connectionStrings>
    <!-- <system.diagnostics> -->
    <!--     <trace autoflush="true" indentsize="4"> -->
    <!--         <listeners> -->
    <!--             <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener" -->
    <!--                  initializeData="trace.log" /> -->
    <!--             <remove name="Default" /> -->
    <!--         </listeners> -->
    <!--     </trace> -->
    <!--     <switches> -->
    <!--         <add name="XPO" value="3" /> -->
    <!--     </switches> -->
    <!-- </system.diagnostics> -->
</configuration>
